.heading {
    background-color: white;
    color: blue;
    border: solid blue 5px;
    align-items: center;
}

.footer {
    color: crimson;
    align-self: center;
    border: solid white;
}

.dropdown {
    color: yellowgreen;
    padding: 30px;
    align-content: center;
}


.App {
    border: dashed orange;
}

#candy {
    height: 80px;
    width: 150px;
    display: inline-block;
    /* opacity: .55; */
}

#candy1 {
    height: 5px;
    width: 400px;
    display: inline-block;
    text-align: center;
}

#candy2 {
    height: 80px;
    width: 200px;
    display: inline-block;
    text-align: right;
}

body {
    background-color: rgb(70, 70, 253);
}